<!doctype html>
<title>Hello, World!</title>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
<h1>Hello, {{ current_user.id }}</h1>
<form action={{ url_for('user_edit') }} method="get">
    <input type="submit" value="Edit">
</form>
<form action={{ url_for('view_data') }} method="get">
    <input type="submit" value="View Data">
</form>
</form>
<form action={{ url_for('logout') }} method="get">
    <input type="submit" value="Logout">
</form>
{% else %}
<h1>Hello, your account is?</h1>
<p></p>
<form action={{ url_for('sign_up') }} method="post">
    <label>Register a new account:</label>
    User ID: <input type="textbox" name="user_name">
    Password: <input type="password" name="password">
    Confirm Password: <input type="password" name="password2">
    <input type="submit" value="Sign up">
</form>
<form action={{ url_for('login') }} method="post">
    <label>Login:</label>
    User ID: <input type="textbox" name="user_name">
    Password: <input type="password" name="password">
    <input type="submit" value="Login">
</form>
{% endif %}
