<!doctype html>
<title>User Info</title>
<h1>Hello, {{ current_user.id }}</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% if current_user.id != 'root' %}
<form action={{ url_for('user_edit') }} method="post">
 <label>Full name:</label>
 <input type="textbox" name="fullname">
 <input type="submit" value="edit">
</form>

<form action="/delete" method="get">
    <input type="submit" value="Delete Account">
</form>
{% endif %}
</form>
<form action={{ url_for('home') }} method="get">
    <input type="submit" value="Back">
</form>